window {
    fullscreen:                  false;
    transparency:                "background";
    background-color:            #1d2021ff;
    border-color:                #1d2021ff;
    border:                      1px;
    height:                      500px;
    width:                       700px;
    location:                    south;
    anchor:                      south;
}

mainbox {
    background-color:            #1d2021ff;
    children:                    ["inputbar", "listview"];
}

listview {
    background-color:            #1d2021ff;
}

inputbar {
    background-color:            #1d2021ff;
    text-color:                  #ebdbb2ff;
}

element {
    background-color:            #1d2021ff;
    text-color:                  #ebdbb2ff;
}

element-text {
    background-color:            transparent;
    text-color:                  #ebdbb2ff;
}

element-icon {
    background-color:            transparent;
}

element selected {
    background-color:            #3c3836ff;
    text-color:                  #ebdbb2ff;
}

element selected element-text {
    background-color:            transparent;
    text-color:                  #ebdbb2ff;
}
